# Group 5

In [12]:
# Import section
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO

In [24]:
# Loading data into DataFram 
result_rental_rates = requests.get("https://www150.statcan.gc.ca/n1/tbl/csv/34100133-eng.zip")
result_mortgage_rates = requests.get("https://www150.statcan.gc.ca/n1/tbl/csv/10100006-eng.zip")
result_home_prices = requests.get("https://www150.statcan.gc.ca/n1/tbl/csv/46100062-eng.zip")

with zipfile.ZipFile(BytesIO(result_rental_rates.content)) as zip_file:
    # Extract the file by name
    csv_file = '34100133.csv'
    with zip_file.open(csv_file) as csv_file_opened:
        rental_rates_df = pd.read_csv(csv_file_opened, header=0, sep=',', quotechar='"')
        
with zipfile.ZipFile(BytesIO(result_mortgage_rates.content)) as zip_file:
    # Extract the file by name
    csv_file = '10100006.csv'
    with zip_file.open(csv_file) as csv_file_opened:
        mortgage_rates_df = pd.read_csv(csv_file_opened, header=0, sep=',', quotechar='"')
        
with zipfile.ZipFile(BytesIO(result_home_prices.content)) as zip_file:
    # Extract the file by name
    csv_file = '46100062.csv'
    with zip_file.open(csv_file) as csv_file_opened:
        home_prices_df = pd.read_csv(csv_file_opened, header=0, sep=',', quotechar='"')

In [25]:
rental_rates_df.head()

,REF_DATE,GEO,DGUID,Type of structure,Type of unit,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1987,"Bay Roberts, Newfoundland and Labrador",2011S0504005,Row and apartment structures of three units an...,Bachelor units,Dollars,81,units,0,v42135513,192.3.1,NaN,..,NaN,NaN,0
1,1987,"Bay Roberts, Newfoundland and Labrador",2011S0504005,Row and apartment structures of three units an...,One bedroom units,Dollars,81,units,0,v42135529,192.3.2,NaN,..,NaN,NaN,0
2,1987,"Bay Roberts, Newfoundland and Labrador",2011S0504005,Row and apartment structures of three units an...,Two bedroom units,Dollars,81,units,0,v42135545,192.3.3,NaN,..,NaN,NaN,0
3,1987,"Bay Roberts, Newfoundland and Labrador",2011S0504005,Row and apartment structures of three units an...,Three bedroom units,Dollars,81,units,0,v42135561,192.3.4,NaN,..,NaN,NaN,0
4,1987,"Bay Roberts, Newfoundland and Labrador",2011S0504005,Row structures of three units and over,Bachelor units,Dollars,81,units,0,v42135577,192.2.1,NaN,..,NaN,NaN,0

In [26]:
mortgage_rates_df.head()

,REF_DATE,GEO,DGUID,Components,Unit of measure,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2013-01,Canada,2016A000011124,"Total, funds advanced, residential mortgages, ...",Dollars,Dollars,81,millions,6,v122667724,1.1.1,5880.00,NaN,NaN,NaN,0
1,2013-01,Canada,2016A000011124,"Total, funds advanced, residential mortgages, ...",Interest rate,Percent,239,units,0,v122667775,1.1.2,3.23,NaN,NaN,NaN,2
2,2013-01,Canada,2016A000011124,"Variable rate, funds advanced, residential mor...",Dollars,Dollars,81,millions,6,v122667725,1.2.1,505.00,NaN,NaN,NaN,0
3,2013-01,Canada,2016A000011124,"Variable rate, funds advanced, residential mor...",Interest rate,Percent,239,units,0,v122667776,1.2.2,3.57,NaN,NaN,NaN,2
4,2013-01,Canada,2016A000011124,"Fixed rate, funds advanced, residential mortga...",Dollars,Dollars,81,millions,6,v122667726,1.3.1,342.00,NaN,NaN,NaN,0

In [27]:
home_prices_df.head()

,REF_DATE,GEO,DGUID,Number of buyers as part of a property sale,Age groups,First-time home buyer status,Buyer characteristics,Estimates,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2018,Nova Scotia,2016A000212,"Total, all number of buyers categories","Total, all age groups","Total, all home buyers categories","Total, all sex of property buyer categories",Number of property buyers,Number,223,units,0,v1340366522,1.1.1.1.1.1,21480.0,NaN,NaN,NaN,0
1,2018,Nova Scotia,2016A000212,"Total, all number of buyers categories","Total, all age groups","Total, all home buyers categories","Total, all sex of property buyer categories",Average total income of property buyer,Dollars,81,units,0,v1340366525,1.1.1.1.1.2,70000.0,NaN,NaN,NaN,0
2,2018,Nova Scotia,2016A000212,"Total, all number of buyers categories","Total, all age groups","Total, all home buyers categories","Total, all sex of property buyer categories",Median total income of property buyer,Dollars,81,units,0,v1340366526,1.1.1.1.1.3,55000.0,NaN,NaN,NaN,0
3,2018,Nova Scotia,2016A000212,"Total, all number of buyers categories","Total, all age groups","Total, all home buyers categories","Total, all sex of property buyer categories",Average family total income,Dollars,81,units,0,v1340366527,1.1.1.1.1.4,130000.0,NaN,NaN,NaN,0
4,2018,Nova Scotia,2016A000212,"Total, all number of buyers categories","Total, all age groups","Total, all home buyers categories","Total, all sex of property buyer categories",Median family total income,Dollars,81,units,0,v1340366528,1.1.1.1.1.5,105000.0,NaN,NaN,NaN,0

## Section I

## Section II

## Section III

## Section IV

## Section V

## Section VI